* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    font-size: larger;
    color:rgb(126, 126, 126);
}

h2 {
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 20px 0;
    color: rgb(33, 37, 41);
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(33, 37, 41);
    margin: 0 0 10px 0;
}

.italic-style {
    font-style: italic;
}

header {
    background-color: rgb(33, 36, 41); 
    transition: background-color 0.2s ease;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed; /* absolute */
    top: 0;
}

#home-page-button {
    color: rgb(255, 200, 0);
    cursor: pointer;
}

@media (min-width: 1367px) {
    #home-page-button {
        margin: 0 720px 0 0;
    }

    #services-page {
        grid-template-columns: repeat(3, 400px);
        gap: 50px;
    }

    #portfolio-page {
        grid-template-columns: repeat(3, 420px);
        grid-gap: 40px 20px;
    }

    .about-page {
        grid-template-columns: 500px 200px 500px;
        gap: 70px 50px;
        background-size: 45px 1200px;
        background-position-y: center;
    }

    .about-img {
        width: 170px;
        height: 170px;
    }

    .team-page {
        grid-template-columns: repeat(3, 400px);
        gap: 70px 20px;
    }

    .teammate-img {
        width: 210px;
    }

    .link {
        width: 40px;
        height: 40px;
        padding-top: 6px;
    }

    form {
        grid-template-columns: 600px 600px;
        grid-template-rows: 55px 55px 55px;
        gap: 20px;
    }

    .copyright {
        margin: 0 820px 0 0;
    }
}

@media (max-width: 1366px) {
    #home-page-button {
        margin: 0 510px 0 0;
    }

    #services-page {
        grid-template-columns: repeat(3, 350px);
        gap: 30px;
    }

    #portfolio-page {
        grid-template-columns: repeat(3, 350px);
        grid-gap: 30px 20px;
    }

    .about-page {
        grid-template-columns: 400px 200px 400px;
        gap: 70px 30px;
        background-size: 45px 1250px;
        background-position-y: 20px;
    }

    .about-img {
        width: 150px;
        height: 150px;
    }
    
    .team-page {
        grid-template-columns: repeat(3, 350px);
        gap: 70px 10px;
    }

    .teammate-img {
        width: 180px;
    }

    .link {
        width: 35px;
        height: 35px;
        padding-top: 4px;
        font-size: small;
    }

    form {
        grid-template-columns: 500px 500px;
        grid-template-rows: 55px 55px 55px;
        gap: 20px;
    }

    .copyright {
        margin: 0 620px 0 0;
    }
}

@media (max-width: 1200px) {
    #home-page-button {
        margin: 0 360px 0 0;
    }

    #services-page {
        grid-template-columns: repeat(3, 300px);
        gap: 20px;
    }

    #portfolio-page {
        grid-template-columns: repeat(3, 300px);
        grid-gap: 30px 20px;
    }

    .about-page {
        grid-template-columns: 300px 200px 300px;
        gap: 70px 30px;
        background-size: 45px 1550px;
        background-position-y: 20px;
    }

    .about-img {
        width: 140px;
        height: 140px;
    }

    .team-page {
        grid-template-columns: repeat(3, 300px);
        gap: 70px 10px;
    }

    .teammate-img {
        width: 160px;
    }

    .link {
        width: 30px;
        height: 30px;
        padding-top: 2px;
        font-size: small;
    }

    form {
        grid-template-columns: 450px 450px;
        grid-template-rows: 55px 55px 55px;
        gap: 20px;
    }

    .copyright {
        margin: 0 520px 0 0;
    }
}

@media (max-width: 1050px) {
    #home-page-button {
        margin: 0 270px 0 0;
    }

    #services-page {
        grid-template-columns: repeat(3, 270px);
        gap: 20px;
    }

    #portfolio-page {
        grid-template-columns: repeat(3, 270px);
        grid-gap: 30px 20px;
    }

    .team-page {
        grid-template-columns: repeat(3, 270px);
        gap: 70px 30px;
    }

    .teammate-img {
        width: 150px;
    }

    form {
        grid-template-columns: 410px 410px;
        grid-template-rows: 55px 55px 55px;
        gap: 20px;
    }

    .copyright {
        margin: 0 440px 0 0;
    }
}

@media (hover: hover) {
    #header-menu-services:hover {
        color: rgb(255, 200, 0);
    }
}

@media (hover: none) {
    #header-menu-services:active {
        color: rgb(255, 200, 0);
    }
}

.home-page-button-image {
    width: 130px;
    height: 55px;
    pointer-events: none;
    margin: 0 0 0 10px;
}

.header-menu {
    display: flex;
}

.header-menu p {
    padding: 10px 10px;
    margin: 0 5px 2px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    cursor: pointer;
}

.header-menu p:hover {
    color: rgb(255, 200, 0)
}

/* .header-menu-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(71, 71, 75);
    border-radius: 5px;
    padding: 0 0 0 6px;
}

.header-menu-button-text {
    color: rgb(155, 155, 155);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 0 0 2px 0;
} */

.header-menu-button-icon {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.welcome-page {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    background-repeat: no-repeat;
    background-image: url(background\ img.png);
    background-position: center;
    background-size: cover;
}

.heading1 {
    font-style: italic; 
    font-weight: 500;
    font-size: 200%; 
    color: azure;
}

.heading2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900; 
    font-size: 400%;
    color: azure;
    text-align: center;
    width: 600px;
    line-height: 90%;
    margin: 10px 0 70px 0;
}

#welcome-page-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: 1px solid rgb(223, 174, 0);
    background-color: rgb(223, 174, 0);
    color: azure;
    border-radius: 7px;
    width: 220px;
    height: 60px;
    text-align: center;
    align-content: center;
    font-weight: 700;
    font-size: large;
    transition: background-color 0.1s ease;
}

#welcome-page-button:active {
    background-color: rgb(199, 158, 9);
    border: 1px solid rgb(199, 158, 9);
}

.services {
    line-height: 150%;
}

#services-page {
    padding: 50px 0 50px 0;
    display: grid;
    grid-auto-rows: minmax(0, auto);
    text-align: center;
    justify-content: center;
}

.headline {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.headline p {
    font-style: italic;
}

.title {
    font-size: 45px;
    margin: 100px 0 30px 0;
}

.services-img {
    width: 150px;
    pointer-events: none;
}

.portfolio {
    line-height: 150%;
}

.portfolio p {
    font-style: italic;
}

.blocks h2 {
    margin: 0 0 7px 0;
}

#portfolio-page {
    padding: 50px 0 50px 0;
    background-color: rgb(248, 249, 250);
    display: grid;
    justify-content: center;
    text-align: center;
}

.portfolio.headline {
    margin: 0 0 20px 0;
}

.portfolio-img {
    height: auto;
    cursor: pointer;
    margin: 0 0 10px 0;
    width: 100%;
}

.about-page {
    padding: 50px 0 50px 0;
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-auto-columns: minmax(10px, auto);
    justify-content: center;
    background-image: url(line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 350px;
}

.about-img {
    border-radius: 100px;
    border: 7px solid rgb(235, 235, 235);
    justify-self: center;
    pointer-events: none;
}

.about {
    line-height: 150%;
}

.blocks-about {
    margin: 0 0 30px 0;
}

.block-about1 {
    text-align: right;
} 

.block-about3 {
    text-align: right;
}

.block-about5 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(255, 200, 0);
    color: azure;
    text-align: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: larger;
    padding: 20px 30px;
    line-height: 120%;
}

.blocks-about p {
    line-height: 150%;
}

.blocks-about h2 {
    line-height: 20px;
}

.team {
    line-height: 150%;
}

.team-page {
    padding: 50px 0 50px 0;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(248, 249, 250);
}

.teammate-img {
    border: 7px solid rgb(235, 235, 235);
    border-radius: 100px;
    pointer-events: none;
}

.team-paragraph {
    grid-column-start: 1;
    grid-column-end: 4;
}

.blocks-teammate p {
    line-height: 70%;
    font-size: 120%;
}

.team-page h3 {
    padding: 10px 0 0 0;
    font-size: 130%;
}

.team-links {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 0 10px 0 10px;
    border-radius: 20px;
    background-color: rgb(66, 66, 66);
    color: azure;
    text-align: center;
    cursor: pointer;
}

.link:active {
    background-color: rgb(88, 88, 88);
    transition: background-color 0.05s ease;
}

.contact-page {
    padding: 5px 0 80px 0;
    margin-top: 40px;
    line-height: 150%;
    background-image: url(map-image.png);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(33, 36, 41);
}

.contact-page h2{
    color: white;
}

.contact.headline {
    margin: 0 0 60px 0;
}

form {
    display: grid;
    justify-content: center;
}

.form-input {
    border: 1px solid rgb(33, 36, 41);
    border-radius: 7px;
}

#message {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 2;
}

#send-button {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    opacity: 60%;
    margin-top: 20px;
}

input {
    padding: 0 0 0 10px;
}

input::placeholder {
    color: #999999;
    opacity: 0.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

input:focus {
    outline: none;
    border: 1px solid rgb(255, 200, 0);
}

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    color: rgb(26, 26, 26);
}

.privacy-policy {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

footer p:active {
    color: #a0a0a0;
}
